<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>E-ID Provider</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    html,
    body {
      height: 100%;
    }

    body {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }

    .form-signin .checkbox {
      font-weight: 400;
    }

    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }

    .form-signin .form-control:focus {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    #vc_box,
    #did_box {
      width: 100%;
      max-width: 330px;
      margin: auto;
      display: none;
    }

    #tick {
      width: 100%;
      max-width: 250px;
      margin: auto;
      display: none;
    }
  </style>

</head>

<body class="text-center">



  <form class="form-signin" id="target">
    <img class="mb-4" src="https://www.gildavenezia.it/wp-content/uploads/2018/12/Spid_logo3a.jpg" alt="" width="150" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">©2019</p>
  </form>

  <div id="did_box" class="card mb-3">
    <div class="card-header">
      <b>Prove DID ownership</b>
    </div>
    <div class="card-body">
      <p class="card-text">Please scan the qr or open "Share DID" link if on mobile to prove you own the device
      </p>
    </div>
  </div>

  <div id="tick" class="card mb-3">
    <div class="card-header">
      <b>All Good!</b>
    </div>
    <img src="https://i.ya-webdesign.com/images/check-green-png-4.png" class="card-img-top" alt="...">
  </div>

  <div id="vc_box" class="card mb-3">
    <div class="card-header">
      <b>Your Verifiable Credentials</b>
    </div>
    <div class="card-body">
      <p class="card-text">You will receive the following:
        <ul style="text-align:left">
          <li>Name</li>
          <li>Surname</li>
          <li>National Health ID</li>
        </ul>
      </p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script>
    $(function() {
      var appended1 = false;
      var appended2 = false;

      var socket = io();
      socket.on('connection', function(socket) {
        // var url = new URL(window.location.href);
        // var vc = url.searchParams.get("vc");
        // console.log(vc);
        // socket.emit('sendDID', vc);
      })

      socket.on('emitDidVC', function(obj) {
        if (!appended1) {
          appended1 = true;
          $('#did_box .card-body').append('<a id="shareDIDlink" href="' + obj.uri + '" class="card-link">Share DID</a>');
          $('#did_box').append('<img src="' + obj.qr + '" class="card-img-top" alt="...">');
        }
      })

      $("#did_box .card-body").on("click", "#shareDIDlink", function() {
        $('#did_box').html('<div class="card-header"><b>Checking your DID...</b></div><div class="spinner-grow text-primary m-5" role="status"> <span class = "sr-only" > Loading... < /span> </div>');
      });

      //step 1
      $("#target").submit(function(event) {
        $(this).fadeOut("fast", function() {
          $("#did_box").slideDown("fast");
        });
        event.preventDefault();
      });

      //step 2
      socket.on('emitVC1', function(obj) {
        if (!appended2) {
          appended2 = true;
          $('#vc_box .card-body').append('<a id="#shareDIDlink2" href="' + obj.uri + '" class="card-link">Download Credentials</a>');
          $('#vc_box').append('<img src="' + obj.qr + '" class="card-img-top" alt="...">');
          $("#did_box").fadeOut("fast", function() {
            $("#tick").fadeIn("slow", function() {
              setTimeout(function() {
                $("#tick").fadeOut("slow", function() {
                  $("#vc_box").slideDown("fast");
                });
              }, 2000);
            });
          });
        }
      })

      $("#vc_box .card-body").on("click", "#shareDIDlink2", function() {
        $('#vc_box').html('<div class="card-header"><b>Downloading VC...</b></div><div class="spinner-grow text-primary m-5" role="status"> <span class = "sr-only" > Loading... < /span> </div>');
      });

    });
  </script>

</html>
