<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div style="color:blue;">
      <h1>PoliMi Login Page</h1>
      <hr>
    </div>
    <div id="beforeLogin">
      <div><img width="200px" src="<%= qr %>" /></div><div><a href="<%= uri %>">Click here if on mobile</a></div>
    </div>
    <div id="afterLogin">

    </div>
    <div id="askVC" style="display: none">
      <hr>
      <a href="#" id="requestLink">Richiedi certificato di Laurea</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io('<%= ngrok %>');
        socket.on('loginAction', function(user){
          if (user != null) {
              $('#afterLogin').text('Logged in as: ' + user.name + ' ' + user.surname + ', matricola: ' + user.studentNumber);
              $('#askVC').show();
          }else{
              $('#afterLogin').text('Not a student!!! Lucky you!!!');
          }
          $('#beforeLogin').hide();
        });
        socket.on('qrSent', function(qr){
          $('#askVC').append('<div><img width="200px" src="'+qr+'" /></div>')
        })
        $('#requestLink').click(function(e) {
          socket.emit('requestVC');
          console.log('requested VC')
        });
      });
    </script>
  </body>
</html>
