<!DOCTYPE html>
<html lang="">

<head>

  <meta name="description" content="This interactive website allows Maltese citizens and their doctors to view their medical records" />

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myHealth</title>
  <link rel="stylesheet" href="./bootstrap_custom/css/bootstrap.min.css" />

  <link href="./style.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


  <script>
    var URL_sendContactUsEmail = '/Home/sendContactUsEmail';
    var URL_Index = '/';
    var URL_FullScreenPharmacy = '/PharmacyFinder/FullScreen';
    var URL_IndexPharmacy = '/PharmacyFinder';
    var URL_validataCaptcha = '/Home/validateCaptcha';
    var URL_SingleSignOnTargetUrl = '/Home/SingleSignOnTargetUrl';
    var pdf_url = '/Home/pdfmakeprintpdf';
    var URL_dismissCookie = '/Home/setDismissAlertCookie';
    var URL_SaveExportFavs = '/Home/saveExportFavs';

    var Search = "Search: ";
    var List_Unavailable = "This List is Currently Unavailable";
    var Table_ChooseCategory_Menu = "Choose Categories ";
    var Table_Search_Placeholder = "Search Health Sites";
    var Cookie_Banner_Part1 = "This website uses cookies to give you the best possible experience. ";
    var Cookie_Banner_Part2 = "Read more to learn how. ";
    var Close_Btn = "close";

    //datatables langugage section
    var datatables_lengthMenu = "Show _MENU_ entries";
    var datatables_info = "Showing _START_ to _END_ of _TOTAL_ entries";
    var datatables_infoFiltered = "(filtered from _MAX_ total entries)";
    var datatables_infoEmpty = "Showing 0 results";
    var datatables_zeroRecords = "No records matched your search criteria";

    var table_rd = "rd";
    var table_otr = "otr";
    var table_slf = "slf";
    var table_sys = "sys";

    var healthsitefinder_youarehere = "You Are Here";
    var Table_ChooseCategory_Menu = "Choose Categories ";
    var Table_Search_Placeholder = "Search Health Sites";
    var Search_Map_Placeholder = "Search by Name, Locality, Street Name or Type";

    var Validation_cs_email = "This cannot be left blank.";

    var pha_link = "http://www.justiceservices.gov.mt/DownloadDocument.aspx?app=lom&itemid=8931";
  </script>

  <script src='https://www.google.com/recaptcha/api.js'></script>
  <link rel=icon href=./logo.png> <link rel="apple-touch-icon" href="/images/apple-icon-57x57.png" />
  <script type="text/javascript">
    var appInsights = window.appInsights || function(a) {
      function b(a) {
        c[a] = function() {
          var b = arguments;
          c.queue.push(function() {
            c[a].apply(c, b)
          })
        }
      }
      var c = {
          config: a
        },
        d = document,
        e = window;
      setTimeout(function() {
        var b = d.createElement("script");
        b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b)
      });
      try {
        c.cookie = d.cookie
      } catch (a) {}
      c.queue = [];
      for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;) b("track" + f.pop());
      if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) {
        f = "onerror", b("_" + f);
        var g = e[f];
        e[f] = function(a, b, d, e, h) {
          var i = g && g(a, b, d, e, h);
          return !0 !== i && c["_" + f](a, b, d, e, h), i
        }
      }
      return c
    }({
      instrumentationKey: "f77bbbe5-1642-4208-b045-c14dd528df24"
    });

    window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
  </script>
</head>

<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" id="home_a" href="/">
          <img id="icon" src="./HealthLogo.svg" alt="main MyHealth logo" />
          <span>myHealth </span>
        </a>
      </div>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Navbar Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div id="navbar" class="collapse navbar-collapse">

        <ul class="nav navbar-nav navbar-right">

          <!---Login-->
          <li class="toShowMax990"><a href="/home/usefullinks">Useful Links</a></li>
          <!--Useful Links-->
          <li class="toShowMax990"><a href="/HealthSiteFinder">Health Site Finder</a></li>
          <!--Health Site Finder-->
          <li class="toShowMax990"><a href="/home/help">Help</a></li>
          <!--Help-->
          <li class="toShowMax990"><a href="/home/about">About</a></li>
          <!--About-->
          <li class="toShowMax990"><a href="/home/contact_us">Contact Us</a></li>
          <!--Contact Us-->
          <!--Infectious Disease report-->

          <li class="toShowMax990">
            <a href='/mt/Home/ChangeLanguage'><img src="./mt_flag.png" alt="Maltese languange" /> Malti</a>
          </li>
          <li class="toShowMax990">
            <a href='/en/Home/ChangeLanguage'><img src="./en_flag.png" alt="English language" /> English</a>
          </li>

          <li class="dropdown toHideMax990">
            <button type="button" class="always-show-burg-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Navbar Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/home/usefullinks">Useful Links</a></li>
              <li><a href="/HealthSiteFinder">Health Site Finder</a></li>
              <!--Health Site Finder-->
              <li><a href="/home/help">Help</a></li>
              <!--Help-->
              <li><a href="/home/about">About</a></li>
              <!--About-->
              <li><a href="/home/contact_us">Contact Us</a></li>
              <!--Contact Us-->
              <!--Infectious Disease report-->

              <li><a href='/mt/Home/ChangeLanguage'><img src="./mt_flag.png" alt="Maltese language" /> Malti</a></li>
              <li><a href='/en/Home/ChangeLanguage'><img src="./en_flag.png" alt="English language" /> English</a></li>
            </ul>
          </li>

        </ul>
      </div>

    </div>
  </nav>

  <main>
    <div class="container body-content main-content">



      <div class="row well" id="doctorPanel" style="display:none;">
        <h1>Doctor's Panel</h1>
        <p>
          Welcome back <b>Doctor WHO</b>!<br>
          Choose an option from the menu below:
        </p>
        <br />
        <p>
          <div class="col-md-4">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Menu</div>

              <!-- List group -->
              <div class="list-group">
                <button type="button" class="list-group-item">My Profile</button>
                <button type="button" class="list-group-item" id="bookBtn">Book an examination</button>
                <button type="button" class="list-group-item">Others</button>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="text-align:center;">
            <div class="panel panel-default" id="whoIsTheUser" style="display:none;">
              <div class="panel-body">
                Let the user scan the QR in order to share his DID to proceed with the booking
              </div>
              <div id="qrHere"></div>
            </div>
          </div>

          <div class="col-md-4" style="text-align:center;">
            <div class="panel panel-default" id="chooseHospital" style="display:none;">
              <div class="panel-body">
                <span id="welcomeDID"> </span>
                <br />
                <div class="list-group">
                  <button type="button" class="list-group-item hospitals">Gozo General Hospital</button>
                  <button type="button" class="list-group-item hospitals">St. Luke's Hospital</button>
                  <button type="button" class="list-group-item hospitals">Saint James Hospital</button>
                  <button type="button" class="list-group-item hospitals">Mater Dei Hospital</button>
                  <button type="button" class="list-group-item hospitals">Hospital Malta</button>
                </div>
              </div>
            </div>
          </div>

        </p>
      </div>

      <div class="row well" id="bookingPanel" style="display:none;">
        <p>
          In order to complete your examination booking, please choose from the available timeslots below then press confirm to generate your ticket.
        </p>
        <br />
        <p>
          <div class="col-md-4">

            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">11/12/2019</button>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Available Timeslots
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#bookingPanel" date="11/09/2019">10:30</a></li>
                  <li><a href="#bookingPanel" date="11/09/2019">11:30</a></li>
                  <li><a href="#bookingPanel" date="11/09/2019">14:00</a></li>
                  <li><a href="#bookingPanel" date="11/09/2019">15:00</a></li>
                </ul>
              </div>
            </div>

            <br><br>

            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">12/12/2019</button>

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Available Timeslots
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#bookingPanel" date="12/09/2019">10:30</a></li>
                  <li><a href="#bookingPanel" date="12/09/2019">11:30</a></li>
                  <li><a href="#bookingPanel" date="12/09/2019">14:00</a></li>
                </ul>
              </div>
            </div>

            <br><br>

            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">13/12/2019</button>

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Available Timeslots
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#bookingPanel" date="13/09/2019">9:30</a></li>
                  <li><a href="#bookingPanel" date="13/09/2019">10:00</a></li>
                  <li><a href="#bookingPanel" date="13/09/2019">11:30</a></li>
                  <li><a href="#bookingPanel" date="13/09/2019">12:00</a></li>
                  <li><a href="#bookingPanel" date="13/09/2019">12:30</a></li>
                </ul>
              </div>
            </div>

            <br><br>

            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">14/12/2019</button>

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Available Timeslots
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#bookingPanel" date="14/09/2019">9:30</a></li>
                  <li><a href="#bookingPanel" date="14/09/2019">10:00</a></li>
                  <li><a href="#bookingPanel" date="14/09/2019">11:30</a></li>
                  <li><a href="#bookingPanel" date="14/09/2019">12:00</a></li>
                  <li><a href="#bookingPanel" date="14/09/2019">12:30</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <input class="form-control" type="text" placeholder="Selected timeslot" readonly id="timeslotSelected">
            <br>
            <div class="btn-group-toggle" data-toggle="buttons">
              <button class="btn btn-primary active" id="confirmBtn">
                Confirm Choice
              </button>
            </div>
          </div>

          <div class="col-md-4" id="qrTicket" style="text-align:center">
            <p id="loadingTicket" style="display:none;">Generating ticket...</p>
          </div>
        </p>
      </div>

      <div class="row" id="mainRow">
        <div class="col-md-4">
          <div class="well login-well" id="prova" style="text-align:center">
            <h1 class="login-h1" id="welcomeText"><b>Doctor's </b>Log In</h1>
            <!--Login to myHealth-->
            <form class="form-signin" method="post" action="#">
              <a id="login-button" style="margin-top:10px" href="#" class="btn btn-lg btn-default btn-block" style="">Log in with your e-ID</a>
              <p id="login-set-up-id"> <a href="https://identitymalta.com/id-cards/?lang=en" target="_blank">Information about e-ID</a></p>
            </form>

          </div>
        </div>

        <div class="col-md-4">
          <div class="well login-well">
            <h1 class="login-h1">Useful Links</h1>
            <div class="list-group" id="useful_links_container">

              <a target='_blank' title='This is a comprehensive website about health and health services in the Maltese Islands.' href='https://health.gov.mt' class='list-group-item'>Health Website</a>
              <a target='_blank' title='Using this site, entitled Maltese residents can apply online for a European Health Insurance Card (EHIC).  (e-ID is required.)'
                href='https://forms.gov.mt/en/services-and-information/eforms/pages/landing%20pages/european%20health%20insurance%20card.aspx ' class='list-group-item'>Online application for EHIC</a>
              <a target='_blank' title='Using this site, doctors can refer their patients to clinics at Mater Dei Hospital.  (e-ID is required.)'
                href='https://forms.gov.mt/en/Services-And-Information/eforms/Pages/Landing%20Pages/Ticket%20Of%20Referral.aspx' class='list-group-item'>Online referral to MDH clinics</a>
              <a target='_blank' title='Online link to POYC ePrescriptions' href='https://poyc.hss.gov.mt/poyc/onlineprescription/PatientQuery' class='list-group-item'>POYC ePrescriptions</a>
              <a target='_blank' title='This is a collection of forms used by doctors.' href='https://deputyprimeminister.gov.mt/en/forms/pages/drforms.aspx' class='list-group-item'>Forms for doctors</a>
              <a target='_blank' title='Link to Digital Health Portal for Doctors' href='https:\\digitalhealth.gov.mt' class='list-group-item'>Digital Health Portal (for Doctors)</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <a style="text-decoration:none" href="/HealthSiteFinder ">
            <div class="well login-well clickable-tile">
              <!-- onclick="window.location.href=' '"-->
              <h1 class="login-h1">Health Site Finder</h1>
              <p class="index-p">Find health sites (e.g. pharmacies) close to you</p>

              <img src="./healthsitefinder.jpg" alt="Health site finder" class="img-responsive img-rounded" />
            </div>
          </a>
        </div>

      </div>

      <div class="well" id="secondRow">
        <h1>Welcome to myHealth</h1>
        <p>
          Welcome to the myHealth Portal. This interactive website allows Maltese citizens and their doctors to view their medical records.
        </p>
        <br />
        <p>
          If you have a Maltese e-ID, log in with your ID number and e-ID password to view your Case Summaries, upcoming Appointments, POYC entitlement and, when released, your Laboratory Results and Medical Imaging Reports.
        </p>
        <br />
        <p>
          As a patient, use this portal to link to and interact with your doctor who will be notified when your data is available. Doctors linked to you through myHealth can see your results and reports as soon as they&#39;re available.
        </p>
        <br />
        <p>
          As a doctor, you can sort, filter and compare patient data easily. New functions such as online ordering of tests will become available in the future.
        </p>

        <!--<p>
            Welcome to the myHealth Portal. This website provides maltese citizens and their doctors an interactive portal to view their medical records.
        </p>
        <p>
            If you are a Maltese e-id card holder, log in to view your:
        </p>
        <ul class="bold-ul">
            <li>Laboratory Test Results</li>
            <li>Medical Imagery Results</li>
            <li>Medical Case Summaries</li>
            <li>Upcoming Appointments</li>
            <li>POYC Entitlements</li>
        </ul>
        <p>
            Use this portal to connect and interact with your doctor who will be notified when your results are available.
        </p>
        <p>
            As a doctor, encourage your patients to connect with you on myHealth to be able to view all their results when they become available. You are now able to sort, filter and compare a patient's test results using the same console. Online Test ordering will also become available in the coming months.
        </p>-->
      </div>

    </div>
  </main>

  <footer class="footer-distributed">
    <div class="footer-right">
      <img src="./mfh_logo.png" alt="Ministry for health logo" width="120" />
      <img src="./mita_logo_.png" alt="Mita logo" width="100" />


    </div>

    <div class="footer-left">

      <nav class="footer-links">
        <a href="/home/usefullinks">Useful Links</a>
        路
        <a href="/HealthSiteFinder">Health Site Finder</a>
        路
        <!--About-->
        <a href="/Home/About">About</a>
        路
        <!--Contact Us-->
        <a href="/Home/Contact_Us">Contact Us</a>
        路
        <!--Help-->
        <a href="/Home/Help">Help</a>
      </nav>
      <br />
      <p class="footer-links">
        <a href='/mt/Home/ChangeLanguage'><img src="./mt_flag.png" alt="Maltese flag" /> Malti</a>
        <a href='/en/Home/ChangeLanguage'><img src="./en_flag.png" alt="English flag" /> English</a>
      </p>

      <p>myHealth &copy; 2019</p>
    </div>

  </footer>

  <script src="bundleJs.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script>
    $(function() {
      var socket = io();

      socket.on('qrLogin', function(obj) {
        $('#qrHere').html('<img src="' + obj.qr + '" width="200" alt="...">');
      })

      $('#login-button').on('click', function() {
        $('#secondRow').fadeOut('slow');
        $('#mainRow').fadeOut('slow', function() {
          $('#doctorPanel').slideDown('slow');
        });
      })

      //book a scan
      $('#bookBtn').on('click', function() {
        $('#whoIsTheUser').slideDown('slow');
      })

      socket.on('loggedIn', function(did) {
        console.log('here we go')
        $('#chooseHospital #welcomeDID').append('All good. Booking scan for DID: ' + did.slice(9, 19) + '... <br>Now choose the hospital:')
        $('#chooseHospital').slideDown('fast');
      })

      var hospital = '';
      $('.hospitals').on('click', function() {
        hospital = $(this).html();
        $('#bookingPanel').slideDown('slow');
      })

      var bookedTime = '';
      $('.dropdown-menu li a').on('click', function() {
        console.log($(this).attr('date'));
        bookedTime = $(this).attr('date') + ' ' + $(this).html();
        $('#timeslotSelected').val(bookedTime);
        $('#timeslotSelected').fadeOut(200).fadeIn(200);
      })

      var clicked = false;
      $('#confirmBtn').on('click', function() {
        if (bookedTime == '') {
          alert('Please select a timeslot firt');
        } else if (!clicked) {
          console.log('clicked');
          clicked = true;
          socket.emit('bookScan', {
            bookedTime: bookedTime,
            hospital: hospital
          });
          $('#loadingTicket').fadeIn('fast');
        }
      })


      socket.on('bookScanVC', function(obj) {
        $('#loadingTicket').fadeOut('fast');
        $('#qrTicket').html('Here is your ticket, see you there. <br> <div style="width:100%; text-align:center"><img src="' + obj.qr + '" width="180" alt="..."><br/><a href="' + obj.uri + '" width="180">Click here if on mobile</a></div>');
      })

    });
  </script>

  <script>
    var _ACSRF_TOKEN = 'eTY-bFieOCJwZqKHO88kSUA_M_4vZ7RQ0quIOTSxeTbsgUIcaYFH6Zwv0_D4hep4PdxPCjNggXHV8RRKrB1eg0h6bSrwvW6aJ9kQ7GTu8Rg1:jl5A7LwOQoKEpZrGlPOQGHktfYZHadvtJyQzB6dkebQZyzCRGuLYHLPO28nF-pAZEqhKBlzf_6M3olH5CpCPgLy9HX3y2RdB9BJNXkChIJM1';

    var showcookiealert = true;

    $(document).ready(function() {
      C.init()
    })
  </script>

</body>
